# Environment variables
.env

# Dependencies
node_modules/

# Logs
logs/
*.log

# Database files
*.sqlite
*.sqlite3
data/

# IDE specific files
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

.codegpt